.resultsEntry{
    background-color: rgb(220,220,220);
    height: 100vh;
    overflow: auto;
}
.mainBack{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/chicago_gym.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: scroll;
}

.pageContainer{
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    height: calc(100vh - 135px);
    overflow: auto;
    padding-bottom: 100px;
}

.subTitle{
    font-size: 24px;
    margin-top: 20px;
}

.choiceBox{
    width: 200px;
    background-color: #ffffff;
    border: #979797;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
}

.choiceBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.activeBox{
    background-color: rgba(0,90,180,0.5);
    color: #ffffff;
}

.athleteBox{
    background-color: rgba(125, 199, 56, 0.9);
    border: #979797;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    font-size: 1.5em;
    color: rgb(255,255,255);
    font-weight: bold;
}

.athleteBox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(165, 239, 96, 0.9);
  }

  .completed{
    background-color: rgba(30, 197, 8, 0.5);
    color: #ffffff;
}

.scName{
    background-color: #ffffff;
    border: 2px solid rgb(200,200,200);
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.obstacleBox{
    min-width: 400px;
    background-color: #ffffff;
    border: #979797;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
}
.obstacleBoxTitle{
    font-size: 18px;
    border-bottom: 2px solid #bdbdbd;
    background-color: rgb(200,200,200);
    padding: 5px;
}
.obstacleBoxContent{
    font-size: 24px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.obstacleBoxContent:hover{
    background-color: rgb(230,230,230);
}

.skillInput{
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border: 2px solid rgb(200,200,200);
}
.submitBtn{
    margin-top: 25px;
    margin-bottom: 100px;
    color: #ffffff;
    background-color: rgba(0, 92,180,0.9);
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: .5em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submitBtn:hover{
    background-color: rgba(255,255,255,0.8);
    color: rgb(0, 92,180);
    transition: 200ms;
}


  .root {
    display: flex,
  }

  .menuButton {
    margin-left: 12px;
    margin-right: 36px;
  }

  .hide {
    display: none;
  }
  .drawer {
    width: 300px;
    flex-shrink: 0;
    white-space: nowrap;
    background-color: #ffffff;
    overflow-x: hidden;
    height: calc(100vh - 135px);
    background-color: rgba(2, 45, 94, 0.9);
  }
  .drawerOpen {
    width: 300px;
    transition: .5s ease;
  }
  .drawerClose {
    width: 65px;
    transition: .5s ease;
    overflow-x: hidden,
  }
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
    border-bottom: 1px solid rgb(22, 65, 114);
  }
  .content {
    flex-grow: 1;
    padding: 3px;
  }
.activeListItem{
    background-color: rgba(0,90,180,0.5);
    color: #ffffff;
}

.toolbarBtn{
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
    color: rgb(62, 105, 154);
}

.toolbarBtn:hover{
    background-color: rgb(22, 65, 114);
}

.titleRow{
    padding: 15px 20px;
}
.titleIcon{
    font-size: 18px;
    color: rgb(62, 105, 154);
}
.titleText{
    margin-left: 30px;
    color: rgb(122, 165, 214);
}
.optionRow{
    padding: 10px 20px;
    cursor: pointer;
}
.optionRow:hover{
    background-color: rgb(22, 65, 114);
}
.optionLetterIcon{
    margin-left: 10px;
    background-color: rgb(62, 105, 154);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 12px;
}
.optionText{
    margin-left: 25px;
    color: rgb(122, 165, 214);
}

.optionSection{
    border-bottom: 1px solid rgb(22, 65, 114);
    padding-bottom: 10px;
}